{
  "branches": ["main"],
  "ci": true,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "bash scripts/release.sh ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "successComment": false,
        "addReleases": "top"
      }
    ]
  ]
}
